.app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
}

.container h1 {
  margin: 0 0 1rem 0;
  font-size: 2rem;
}

.container p {
  margin: 0;
  color: #666;
  font-size: 1.2rem;
}
